.galleryImage {
    width: 200px;
    background-color: red;
    margin: 20px;
}

.galleryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;

}